<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neo.AOI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Neo.AOI.Properties.Settings>
      <setting name="SPCServer" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="ListOKPCB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GDResolution" serializeAs="String">
        <value>0.12</value>
      </setting>
      <setting name="ImageDir" serializeAs="String">
        <value />
      </setting>
      <setting name="Line" serializeAs="String">
        <value />
      </setting>
      <setting name="UseImperialCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StdLibDir" serializeAs="String">
        <value>C:\aoi\lib\std</value>
      </setting>
      <setting name="UsrLibDir" serializeAs="String">
        <value>C:\aoi\lib\usr</value>
      </setting>
      <setting name="MaxGlobalAlarms" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="GDIPE" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportCommonImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportCommonImageMMPerPixel" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="OptimizeScanPath" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComponentMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxAlarms" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="AdvancedMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GPUImageTileWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorServer" serializeAs="String">
        <value />
      </setting>
      <setting name="UseMonitor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InteropMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InteropInputDir" serializeAs="String">
        <value />
      </setting>
      <setting name="InteropInputPattern" serializeAs="String">
        <value />
      </setting>
      <setting name="InteropPollingInterval" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="InteropRecycleDir" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxImageTileCaches" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DenoiseLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RepairTimeout" serializeAs="String">
        <value>-00:00:00.0010000</value>
      </setting>
      <setting name="Logo" serializeAs="String">
        <value />
      </setting>
      <setting name="SPCIPE" serializeAs="String">
        <value />
      </setting>
      <setting name="StatisticsPollingInterval" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="AutoReclassification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideStatistics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlarmCounters" serializeAs="String">
        <value />
      </setting>
    </Neo.AOI.Properties.Settings>
  </applicationSettings>
</configuration>
